html body {
	margin: 0; 
	padding:0;
}
div.videolist {
	position:fixed; 
	left:0px; 
	top:0px; 
	z-index:2000;
	width:100%;
}
div.videoplayer {
	position:fixed; 
	left:0px; 
	top:0px;
	z-index: 0;
}
ul.images {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow-x: auto;
	background-color: #ddd;
	width:100%;
}
ul.images li {
	display: inline;
	width: 150px;
	height: 150px;
}
div.showvideos {
	position:fixed;
	top:0px;
	left:50%;
	z-index:1900;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid gray;
}
div.hidevideos {
	position:absolute;
	top:80px;
	left:50%;
	z-index:2100;
	width:0px;
	height:0px;
	border-left: 20px solid transparent;
	border-right:20px solid transparent;
	border-bottom: 20px solid gray;
}
