html body {
	margin: 0; 
	padding:0;
	overflow:hidden;
}
div.videolist {
	position:fixed; 
	left:0px; 
	top:0px; 
	z-index:2000;
	width:100%;
	height: 105px;
	background-color: #ddd;
}
div.videoplayer {
	position:fixed; 
	left:0px; 
	top:0px;
	z-index: 0;
}
div.videolisttitle {
	position:absolute;
	top:0;
	line-height:100px;
	margin:0;
	width:100%;
	text-align:center;
	font-family:sans-serif;
	font-weight:bolder;
	color:lightgray;
	font-size:50px;
	z-index:-1;
}
ul.images {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow-x: auto;
	background-color: #ddd;
	width:100%;
}
ul.images li {
	display: inline;
	width: 150px;
	height: 150px;
	cursor: pointer;
}
div.showvideos {
	position:fixed;
	top:0px;
	left:50%;
	margin-left:-20px;
	z-index:1900;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid gray;
	cursor: pointer;
}
div.hidevideos {
	position:absolute;
	top:85px;
	left:50%;
	margin-left:-20px;
	z-index:2100;
	width:0px;
	height:0px;
	border-left: 20px solid transparent;
	border-right:20px solid transparent;
	border-bottom: 20px solid gray;
	cursor: pointer;
}
div.mainTitle {
	position:absolute;
	top:0px;
	left:0px;
	background-color:black;
	z-index:1900;
	width:100%;
	height:100%;
	overflow:hidden;
}
div.title {
	position:absolute;
	margin:0;
	padding:0;
	top:37.5%;
	left:5%;
	color:white;
	font-family:helvetica,sans-serif;
	font-size:65px;
	font-weight:bolder;
	white-space:nowrap;
	overflow:hidden;
}
div.whiteline {
	position:absolute;
	margin:0;
	margin-top:68px;
	padding:0;
	background-color:white;
	vertical-align:bottom;
	top:37.5%;
	left:5%;
	width:95%;
	height:7px;
}
div.menubutton {
	position:absolute;
	margin:0;
	padding:0;
	top:50%;
	right:0;
	height:50px;
	width:23px;
	margin-top:-25px;
	margin-right:-3px;
	z-index:1800;
	background-color:lightgray;
	color:darkgray;
	font-family:helvetica,sans-serif;
	font-size:30px;
	overflow:hidden;
	line-height:50px;
	border-radius:3px;
	cursor:pointer;
}
div.reddit {
	position:absolute;
	bottom:0;
	right:0;
	color:#336699;
	font-family:sans-serif;
	font-size:12px;
}
div.mainmenu {
	position:absolute;
	margin:0;
	padding:0;
	top:37.5%;
	left:5%;
	padding-top:100px;
	color:white;
	font-family:sans-serif;
	font-size:20px;
}
div.mainmenu table {
	width:500px;
	text-align:center;
	vertical-align:top;
}
div.mainmenu td {
	vertical-align:top;
}
div.mainmenu div {
	padding:10px;
	cursor:pointer;
}
div.mainmenu .selected {
	border:1px solid white;
}
div.loading {
	position:absolute;
	margin:0;
	padding:0;
	margin-top:10px;
	top:0;
	left:0;
	width:100%;
	text-align:center;
}
div.loading img {
	height:70px;
}
